<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Express App</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav>
  <a href="/">Accueil</a>
  <a href="/services">Nos services</a>
  <a href="/contact">Nous contacter</a>
</nav>

<div class="container">
  <%- body %>
</div>

</body>
</html>
